Flask==0.12.2
-e git+https://github.com/MrLeeh/Flask-MQTT.git@9751891f02ba7958719e3e35138c46d6e166805b#egg=Flask_MQTT-origin/HEAD
Jinja2==2.9.6
MarkupSafe==1.0
RPi.GPIO==0.6.3
Werkzeug==0.12.2
click==6.7
itsdangerous==0.24
paho-mqtt==1.2.3
rpi-rf==0.9.6
typing==3.6.1
